header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 15px;
    background-color: lightblue;
    height:30px;
    z-index: 100;
    img:not([src="menu.png"]){
        width:62.89px;
    }
    *:not(img){
        position: relative;
        bottom:15px;
    }
}
html{
    overflow-x:hidden;/*Hide horizontal scrollbar*/
}
a:link,a:visited{
    color:black;
}
a:hover,a:active,a:focus{
    color:blue;
}
a:local-link{
    color:gray;
}
#content{
    position: absolute;
    top:60px;
}
.business-name{
    font-size: 2em;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.left img{
    width:50%;
}
.right img{
    width:50%;
}
#content img{
    width:50%;
}
nav{
    display:none;
}
#status{
    display:none;
}
.left,.right{
    height:300px;
    border-bottom:2px solid black;
    width:100%;
}
@media (width <= 750px) {
    #options{
        position: fixed;
        right: 0;
        top: 0;
        height:fit-content;
    }
    #status + nav{
        opacity:0;
        position:fixed;
        left:0;
        top:0;
        z-index: -1;
        transition: ease 1s all;
        background-color: lightblue;
        width:100%;
        height:100%;
        pointer-events:none;
        display:block;
        *{
            display:block;
            padding:1em;
            font-size: x-large;
            opacity:0;
        }
    }
    #status:checked + nav{
        opacity: 1;
        z-index: 100000;
        pointer-events:auto;
        display:block;
        *{
            z-index: 100001;
            opacity:1;
            pointer-events: auto;
            display:block;
        }
    }
    header img{
        display:none;
    }
    header #options img{
        display:inline;
    }
    #options{
        z-index: 100002;
        display:inline;
    }
    .business-name{
        font-size: 1.5em;
    }
    #content img {
        width: 100%;
    }
}
@media (width >= 750px) {
    /*Not mobile*/
.left{
    position: relative;
    padding-bottom:40px;
    padding-top:40px;
    display:flex;
    *{
        width:50%;
        height:fit-content;
        @supports (height:intrinsic){
            height:intrinsic;
        }
    }
}
.right{
    position: relative;
    padding-bottom:40px;
    padding-top:40px;
    display:flex;
    *{
        width:50%;
        height:fit-content;
        @supports (height:intrinsic){
            height:intrinsic;
        }
    }
}
#options{
    display:none;
}
nav{
    display:inline;
    
}
}
body.Error404{
    h1{
        font-family: monospace;
    }
    h2{
        font-family: 'Times New Roman', Times, serif;
    }
    
}
a[href^="https://numismaticnovelties.github.io"]::after{
    content:"⎋";
    width:1em;
    height:1em;
    display:inline-block;
}
table{
    border-collapse: collapse;
}
th,td{
    border:1px solid black;
    text-align:center;
    padding:3px;
}
th{
    background-color:lightgray;
}
th:first-child{
    width:350px;
}
td[data-status]:hover::after,td[data-status]:active:after{
    opacity:1;
}
td[data-status="in stock"]::after{
    position:absolute;
    pointer-events: none;
    z-index: 10;
    content:"Available at the next market";
    width:fit-content;
    white-space:nowrap;
    background-color: lightgreen;
    opacity:0;
    transition:opacity 1s ease;
}
td[data-status="supply low"]::after{
    position:absolute;
    pointer-events: none;
    z-index: 10;
    content:"Still available at the next market, but hurry to attain a product.";
    width:fit-content;
    white-space:nowrap;
    background-color: yellow;
    opacity:0;
    transition:opacity 1s ease;
}
td[data-status="Production"]::after{
    position:absolute;
    pointer-events: none;
    z-index: 10;
    content:"Currently Being Produced";
    width:fit-content;
    white-space:nowrap;
    background-color:slateblue;
    opacity:0;
    transition:opacity 1s ease;
}
td[data-status="Development"]::after{
    position:absolute;
    pointer-events: none;
    z-index: 10;
    content:"In development, might be ready soon!";
    width:fit-content;
    white-space:nowrap;
    background: linear-gradient(yellow,red);
    opacity:0;
    transition:opacity 1s ease;
}
.big+*{
    font-size: large;
    position:relative;
    width:20%;
    right:1.5em;
    display:inline-block;
    
}
.big{
    width:20%;
    position:relative;
    left:50px;
    display:inline-block;
}
@keyframes spin {
    0%,100%{
        transform: none;
    }
    25%,75%{
        transform:scaleY(0);
    }
    50%{
        transform: scaleY(-1);
    }
}
#countdown{
    width:100%;
    height:3em;
    background-color: black;
    color:white;
}

body{
    background-color: aliceblue;
    scrollbar-color: black,transparent;
}
.left p,.right p{
        font-size:large;
        height:100%;
    }
#content{
    width:100%;
}
form{
    display:inline;
    top:5%;
}
input{
    width:16em;
}
*[data-tooltip]::after{
    display:none;
    background-color: lightblue;
    font-family:serif;
    border:1px solid black;
    border-radius: 10px;
}
body.not-written{
    background-color: lightgray;
}